{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Papo & Saúde</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
  </head>
  <body>
    <header class="cabeca">
      <img id="inicio_img" class="inicio_img" src="{% static 'home/img/papo.png' %}" alt="">
      <section class="">
        <ul class="ul_inicio">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Destaques</a>
          </li>
          <li>
            <a href="#">Sobre</a>
          </li>
          <li>
            <a href="#">Contato</a>
          </li>
        </ul>
      </section>
    </header>
    <section class="contaner">
      <div id="div1" class="box1">

      </div>
      <div id="div2" class="box1"></div>
      <div id="div3" class="box1"></div>
      <div id="div4" class="box1">
        <form action="" method="post">
          <label for="Nome" >Nome:
          <input type="text" name="Nome" placeholder="Digite seu Nome" id="Nome">
        </label>
        </form>
      </div>
    </section>

    <script src="" async defer></script>
  </body>
</html>
