.inicio_img {
    width: 100%;
    height: 400px;

}

.sessao1 {
    text-align: right;

}

.ul_inicio {
    list-style-type: none;
    display: inline flex;
    font-size: 20px;

}

li {
    padding: 15px;
}

a {
    text-decoration: none;
}

.contaner {
    border: 3px solid rgba(170, 164, 164, 0.788);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;


}

.box {
    border: 1px solid rgb(13, 46, 235);
    background-color: antiquewhite;
}
/* Configuração do calculo Imc*/



.gotinha {
    width: 200px;
    height: 200px;
}

body {
    background-color: rgb(133, 45, 45);
}

.img-container {
    width: 430px;
    height: 300px;

}

.calc {
    position: relative;
    left: 120px;

}
.h1-imc{
    position: relative;
    left: 120px;

}
.div-calc{
   
    padding-bottom: 15px;
}
#ipt_peso{
    margin-left: 10px;
  
}
.div-calc{
    position: relative;
    left: 40px;
    width: 320px;
}
.btn_calculadora{
    width: 100px;
    position: relative;
    left: 50px;
}
#btn_reset{
    margin-left: 10px;
}